# ======================
# MinGW-w64 / C++
# ======================

# Compiled binaries
*.exe
*.out

# Object files
*.o
*.obj

# Static & dynamic libraries
*.a
*.dll

# Debug symbols
*.pdb
*.ilk

# Build directories
build/
bin/
cmake-build-*/

# VS Code
.vscode/


# Windows OS junk
Thumbs.db
